
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap');

@font-face {
  font-family: 'Astron';
  src: url('/fonts/astron/Astron-Regular.woff2') format('woff2'),
    url('/fonts/astron/Astron-Regular.woff') format('woff');
  /* fallback opcional */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/helvetica/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Bold';
  src: url('/fonts/helvetica/Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Oblique';
  src: url('/fonts/helvetica/Helvetica-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica BoldOblique';
  src: url('/fonts/helvetica/Helvetica-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Thedus Condensed Light';
  src: url('/fonts/thedus/ThedusCondensedLight-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thedus Condensed Light';
  src: url('/fonts/thedus/ThedusCondensedLight-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thedus Stencil Condensed';
  src: url('/fonts/thedus/ThedusStencilCondensed-Regular.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thedus Stencil Wide';
  src: url('/fonts/thedus/ThedusStencilWide-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thedus Wide Light';
  src: url('/fonts/thedus/ThedusWideLight-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thedus Wide Light';
  src: url('/fonts/thedus/ThedusWideLight-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*/
