@import './fonts.css';

@import 'tailwindcss';

@theme {
  --color-black: #000000bf;
  --color-ocre-soft: #8e8f54a6;
  
  /*
  --font-helvetica: 'Helvetica', 'sans-serif';
  --font-helvetica-bold: 'Helvetica Bold', 'sans-serif';
  --font-helvetica-oblique: 'Helvetica Oblique', 'sans-serif';
  --font-helvetica-bold-oblique: 'Helvetica BoldOblique', 'sans-serif';
  --font-thedus-condensed-light: 'Thedus Condensed Light', 'sans-serif';
  --font-thedus-condensed-light-bold: 'Thedus Condensed Light', 'sans-serif';

  --font-thedus-condensed-light: 'Thedus Condensed Light', 'sans-serif';
  --font-thedus-stencil-condensed: 'Thedus Stencil Condensed', 'sans-serif';
  --font-thedus-stencil-wide: 'Thedus Stencil Wide', 'sans-serif';
  --font-thedus-wide-light: 'Thedus Wide Light', 'sans-serif';
  */
  --font-nunito-sans: 'Nunito Sans', sans-serif;
}
.nunito-sans {
  font-family: var(--font-nunito-sans);
  font-weight: 400;
  line-height: 1.4;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000000;
}

.main-container-with {
  max-width: 950px;
  width: 100%;
}
